@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
		
	 @using (Html.BeginForm("ForgetPassword", "Account", FormMethod.Post))
                        {   	
		<div class="span9">
			<div class="well">
			<h5>ENTER EMAIL ID TO GET YOUR PASSWORD</h5>
			<form>
			  <div class="control-group">
				<label class="control-label" for="inputEmail">Email</label>
				<div class="controls">
				  <input class="span3"  type="text" id="Email" name="Email" placeholder="Email">
				</div>
			  </div>
			
			  <div class="control-group">
				<div class="controls">
				  <button type="submit" class="defaultBtn">Send Password</button>
				</div>
			  </div>
			</form>
                @ViewBag.Message
		</div>
		</div>
  }
	</div>

