@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
  <div class="row">
   
		<div class="span9">
            
			<div class="well">
                 <h3>About Software</h3>
                <hr class="soft"/>


                <div class="row-fluid">
                    <blockquote>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>
                    </div>
                </div>
            </div>
    </div>
